{% extends "layout.html" %}

{% block content %}
<div id="seeding" class="brackets-viewer" style="display:inline-block;">
    <h1>Seeding Phase</h1>
    <section class="bracket" style="display:inline-block; float: left; margin-right: 40px;">
        <h2>Seeding Race</h2>
        <div class="rounds">
            <article class="round">
                <div class="match">
                    <div class="opponents">
                        {% for run in Runs.get_seeding_runs() %}
                        <div class="participant" data-participant-id="{{ run.player }}" title="1">
                            <div class="name">
                                <span>#{{ loop.index }} </span>{{ run.player }}
                            </div>
                            <div class="result">
                                {{ run.format_time() }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="bracket" style="display:inline-block;">
        <h2>Pooling Races</h2>
        
            {% for pool in Pools.select().order_by(Pools.id.asc()) %}
                {% if loop.index0 % 4 == 0 %}<div class="rounds">{% endif %}
                    <article class="round">
                        <h3>Pool #{{ loop.index }}</h3>
                        <div class="match">
                            <div class="opponents">
                                {% set lb = pool.leaderboard() %}
                                {% if lb.count() %}
                                    {% for run in lb %}
                                    <div class="participant" data-participant-id="0">
                                        <div class="name"><span>#{{ loop.index }} </span>{{ run.player }}</div><div class="result">{{ run.format_time() }}</div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    {% for player in pool.players_list() %}
                                    <div class="participant" data-participant-id="0">
                                        <div class="name"><span></span>{{ player.id }}</div><div class="result">-</div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </article>
                    {% if loop.index == Pools.select().count() %}
                        <article class="round">
                            <h3>Last Chance Pool</h3>
                            <div class="match" data-match-id="0" data-match-status="2">
                                <div class="opponents">
                                    {% set lb = Pools(id=8).leaderboard() %}
                                    {% if lb.count() %}
                                        {% for run in lb %}
                                        <div class="participant" data-participant-id="0">
                                            <div class="name"><span>#{{ loop.index }} </span>{{ run.player }}</div><div class="result">{{ run.format_time() }}</div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for pool in Pools.select().order_by(Pools.id.asc()) %}
                                        <div class="participant" data-participant-id="0" title="1">
                                            {% set run = pool.run_from_rank(3) %}
                                            {% if run != None %}
                                                <div class="name"><span> </span>{{ run.player }}</div><div class="result">-</div>
                                            {% else %}
                                                <div class="name hint"><span> </span>#3 of pool {{ pool.id }}</div><div class="result">-</div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% if (loop.index0) % 4 == 3 %}</div>{% endif %}
            {% endfor %}
    </section>
</div>

<div id="brackets" class="brackets-viewer">
</div>

<script>
    (async () => {
        await window.bracketsManager.create.stage({
            tournamentId: 0,
            name: 'Main Bracket',
            type: 'double_elimination',
            seeding: [
                "bewildebeest",
                "Nimzo",
                "Marco",
                "Doopsie",
                "ZachLink99",
                "Jeezhs",
                "JDLM",
                "iwabi74",
                "TheGuyDownstairs",
                "Anorakkis",
                "NotableCass",
                "DeanMachine42",
                "Glubbers",
                "WaterproofTeabag_",
                "An D",
                "Simikins"
            ],
            settings: { grandFinal: 'double', seedOrdering: ['inner_outer', 'natural', 'reverse', 'natural']},
        });
        
        await window.bracketsManager.create.stage({
            tournamentId: 1,
            name: 'Redemption Bracket',
            type: 'double_elimination',
            seeding: [
                "UnknownPigeon",
                "bdamja",
                "link1183",
                "qwertyquerty",
                "TheEtherNetBoyz",
                "theprinceofnone",
                "wolfegarden",
                "Midnaliin",
                "FodderCannonn",
                "FirnenLegacy",
                "Jacquaid",
                "UkyoTP",
                "garm993",
                "spicyjuice04",
                "Little_Tuffy",
                "kipcode66"
            ],
            settings: { grandFinal: 'double', seedOrdering: ['inner_outer', 'natural', 'reverse', 'natural']}
        });

    {% for i in range(64) %}
    {% set race = (Runs.select().where(Runs.event == i, Runs.phase == 2) | list) %}
        {% if (race | length) == 2 %}
            if (window.bracketsManager.storage.data.participant[window.bracketsManager.storage.data.match[{{ i }}].opponent1.id].name == '{{ race[0].player }}') {
                await window.bracketsManager.update.match({
                    id: {{ i }},
                    opponent1: {
                        score: '{{ race[0].format_time() }}',
                        {% if race[0].time < race[1].time %}
                            result: 'win'
                        {% endif %}
                    },
                    opponent2: {
                        score: '{{ race[1].format_time() }}',
                        {% if race[0].time >= race[1].time %}
                            result: 'win'
                        {% endif %}
                    }
                });
            }
            else {
                await window.bracketsManager.update.match({
                    id: {{ i }},
                    opponent2: {
                        score: '{{ race[0].format_time() }}',
                        {% if race[0].time < race[1].time %}
                            result: 'win'
                        {% endif %}
                    },
                    opponent1: {
                        score: '{{ race[1].format_time() }}',
                        {% if race[0].time >= race[1].time %}
                            result: 'win'
                        {% endif %}
                    }
                });
            }

        {% endif %}
    {% endfor %}
            
    let main_bracket = await window.bracketsManager.get.stageData(0);

    window.bracketsViewer.render({
        stages: main_bracket.stage,
        matches: main_bracket.match,
        matchGames: main_bracket.match_game,
        participants: main_bracket.participant
    }, {selector: "#brackets"});

    let red_bracket = await window.bracketsManager.get.stageData(1);

    window.bracketsViewer.render({
        stages: red_bracket.stage,
        matches: red_bracket.match,
        matchGames: red_bracket.match_game,
        participants: red_bracket.participant
    }, {selector: "#brackets"});

    })();
</script>
{% endblock %}
