{% extends "layout.html" %}

{% block content %}
    <table>
        <tr>
            <th><a href="?sort=id" class="{{ 'selected' if sort == 'id' else '' }}">ID</a></th>
            <th><a href="?sort=player" class="{{ 'selected' if sort == 'player' else '' }}">Player</a></th>
            <th><a href="?sort=time" class="{{ 'selected' if sort == 'time' else '' }}">Time</a></th>
            <th><a href="?sort=date" class="{{ 'selected' if sort == 'date' else '' }}">Date</a></th>
            <th><a href="?sort=phase" class="{{ 'selected' if sort == 'phase' else '' }}">Phase</a></th>
            <th><a href="?sort=zelda_cycles" class="{{ 'selected' if sort == 'zelda_cycles' else '' }}">Zelda Cycles</a></th>
            <th><a href="?sort=gorge_void" class="{{ 'selected' if sort == 'gorge_void' else '' }}">Gorge Void</a></th>
            <th><a href="?sort=goats_time" class="{{ 'selected' if sort == 'goats_time' else '' }}">Goats Time</a></th>
        </tr>
        {% for run in runs %}
        <tr>
            <td style="color: var(--hint-color);">
                {{ run.id }}
            </td>
            <td>
                {{ link_name(run.player) }}
            </td>
            <td {% if run.pb() %}style="color: var(--win-color)"{% endif %}>
                {{ run.format_time() }} {% if run.pb() %}<span style="color: var(--border-color);">(PB!)</span>{% endif %}
            </td>
            <td>
                {{ run.date | string }}
            </td>
            <td>
                {{ run.format_phase() }}
            </td>
            <td>
                {{ run.zelda_cycles if run.zelda_cycles is not none else "-" }}
            </td>
            <td>
                {% if run.gorge_void == 1 %}Success
                {% elif run.gorge_void == 2 %}Fail
                {% else %}-{% endif %}
            </td>
            <td>
                {{ run.goats_time | round(3) if run.goats_time is not none else "-" }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
