{% extends "layout.html" %}

{% block content %}
    <table>
        <tr>
            <th><a href="?sort=id" class="{{ 'selected' if sort == 'id' else '' }}">ID</a></th>
            <th><a href="?sort=player" class="{{ 'selected' if sort == 'player' else '' }}">Player</a></th>
            <th><a href="?sort=time" class="{{ 'selected' if sort == 'time' else '' }}">Time</a></th>
            <th><a href="?sort=date" class="{{ 'selected' if sort == 'date' else '' }}">Date</a></th>
            <th><a href="?sort=phase" class="{{ 'selected' if sort == 'phase' else '' }}">Phase</a></th>
        </tr>
        {% for run in runs %}
        <tr>
            <td style="color: var(--hint-color);">
                {{ run.id }}
            </td>
            <td>
                {{ link_name(run.player) }}
            </td>
            <td {% if run.pb() %}style="color: var(--win-color)"{% endif %}>
                {{ run.format_time() }} {% if run.pb() %}<span style="color: var(--border-color);">(PB!)</span>{% endif %}
            </td>
            <td>
                {{ run.date | string }}
            </td>
            <td>
                {{ run.format_phase() }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
