{% extends "layout.html" %}

{% block content %}
    <!--
    <br><br>
    <h2 style="text-align:center;">Upcoming Races</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Players</th>
            <th style="min-width: 160px;">Local Start Time</th>
        </tr>
        {% for race in Races.select().where(Races.timestamp > (time.time() - 14400)).order_by(Races.timestamp.asc()) %}
        <tr>
            <td style="color: var(--hint-color);">
                {{ race.id|title }}
            </td>
            <td>
                {% for player in race.get_players() %}{% if loop.index != 1 %}, {% endif %}{{ link_name(player) }}{% endfor %}
            </td>
            <td>
                <div onload="this.innerText = new Date({{ race.timestamp }} * 1000).toLocaleString()"></div>
            </td>
        </tr>
        {% endfor %}
    </table>
    -->

    <br><br>
    <h2 style="text-align:center;">Completed Races</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Players</th>
            <th>VOD</th>
            <th style="min-width: 160px;">Local Start Time</th>
        </tr>
        {% for race in Races.select().where(Races.timestamp < (time.time() - 14400)).order_by(Races.timestamp.asc()) %}
        <tr>
            <td style="color: var(--hint-color);">
                {{ race.id|title }}
            </td>
            <td>
                {% for player in race.get_players() %}{% if loop.index != 1 %}, {% endif %}{{ link_name(player) }}{% endfor %}
            </td>
            <td>
                {% if race.vod != None %}
                    <a href="{{ race.vod }}">Link</a>
                {% else %}
                    ...            
                {% endif %}
            <td>
                <div onload="this.innerText = new Date({{ race.timestamp }} * 1000).toLocaleString()"></div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
