{% extends "layout.html" %}

{% block content %}
    <br><br>
    <h2 style="text-align:center;">Zelda Leaderboard</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Run ID</th>
            <th>Player</th>
            <th>Run Time</th>
            <th>Date</th>
            <th>Swoops</th>
            <th>Doritos</th>
            <th>Cycle</th>
        </tr>
        {% for run in runs %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td style="color: var(--hint-color);">
                {{ run.id }}
            </td>
            <td>
                {{ link_name(run.player) }}
            </td>
            <td {% if run.pb() %}style="color: var(--win-color)"{% endif %}>
                {{ run.format_time() }} {% if run.pb() %}<span style="color: var(--border-color);">(PB!)</span>{% endif %}
            </td>
            <td>
                {{ run.date | string }}
            </td>
            <td>
                {{ run.zelda_swoops }}
            </td>
            <td>
                {{ run.zelda_triangles }}
            </td>
            <td>
                {{ run.zelda() }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
